* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: 'Montserrat', sans-serif;
 }
.debug {
  border: 1px solid pink;
  height: 200px;
}
.container-full {
  width: 100%;
}
.container-half {
  width: 60%;
  margin: auto;
}
.color-second {
  background-color: #2e3a46 ;
}
.color-first {
  background-color: #1e2d3b;
}
.color-inside {
  background-color: #2e3a46;
}
